<div class='container'>
    <div>
        You are adding a queue for a game id: {{id | async}}
    </div>
    <form class='mt-2' [formGroup]='uploadGame' (ngSubmit)="submit()">


        <div class="form-group">
            <label class='mr-1'>Name: </label>
            <input formControlName="name">
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="this.uploadGame.get('name').invalid && this.uploadGame.get('name').touched">This field is required</ng-container>
            </div>
        </div>

        <!-- TODO add date validation -->

        <div class="form-group">
            <div class="input-group">
                <label for="dp">Deadline:</label>
                <input class="form-control" placeholder="yyyy-mm-dd" formControlName="deadline" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                </div>
            </div>
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="this.uploadGame.get('deadline').invalid && this.uploadGame.get('deadline').touched">This field is required. Deadline must be after current date</ng-container>
            </div>
        </div>

        <div class="form-group">
            <label class="form-label">(upload config as .py)</label>
            <!-- <input type="file" formControlName="config"> -->

            <app-file-upload formControlName="config" [progress]="progress"></app-file-upload>
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="this.uploadGame.get('config').invalid && this.uploadGame.get('config').touched">This field is required</ng-container>
                <ng-container *ngIf="this.uploadGame.get('config').invalid && this.uploadGame.get('config').touched">Only .py 🤡</ng-container>
            </div>
        </div>
        <button mat-raised-button [disabled]="uploadGame.invalid" type="submit" class="btn btn-primary">Submit</button>

    </form>

</div>



<!-- <form [formGroup]="myForm" (ngSubmit)="submit()" class='mt-2'> -->

<!-- <mat-form-field>
        <mat-label>Queue name</mat-label>
        <input matInput placeholder="CreativeName" formControlName="name">
        <mat-hint>Same as your python package name - we use this to import a bot to the game </mat-hint>
        <mat-error *ngIf="this.myForm.get('name').invalid && this.myForm.get('name').touched">
            This field is required
        </mat-error>
    </mat-form-field> -->

<!-- <mat-form-field>
        <mat-label>Deadline</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input matInput placeholder="Deadline" formControlName="deadline" type="date" useValueAsDate>
        <mat-hint> </mat-hint>
        <mat-error *ngIf="this.myForm.get('name').invalid && this.myForm.get('name').touched">
            This field is required
        </mat-error>
    </mat-form-field> -->
<!-- 
    <mat-form-field>
        <mat-label>Congif file</mat-label>
        <input matInput placeholder="CreativeName" formControlName="config">
        <mat-hint></mat-hint>
        <mat-error *ngIf="this.myForm.get('name').invalid && this.myForm.get('name').touched">
            This field is required
        </mat-error>
    </mat-form-field> -->


<!-- <button mat-raised-button [disabled]="myForm.invalid" type="submit" class="btn btn-primary">Submit</button> -->
<!-- </form> -->