<!-- <div class="container">
    <h1>Upload new game</h1>
    <form>
        <div class="mb-3">
          <label for="inputName">Name</label>
          <input  class="form-control" id="inputName" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">Enter name of the game</small>
        </div>
        <div class="mb-3">
          <label for="inputVersion">Version</label>
          <input class="form-control" id="inputVersion">
        </div>

    <div class='mb-3'>
        <input #fileUpload type="file"/>
       
        <div class="drop-box" ng2FileDrop
             (click)="onUpload()">
          <span class="drag-in-title">Import or drag file here</span>
          <span class="drag-over-title">Drop the file</span>
        </div>
      </div>
        <button type="submit" class="btn btn-primary" onclick="submit()">Submit</button>
      </form>

     
</div> -->
<div class="title-container">
    <h1>Create your own universe!</h1>
    <p>Divide and conquer!</p>
</div>
<div class="form-wrapper">
    <form id='form' [formGroup]='uploadGame' (ngSubmit)="submit()">

        <div class="form-group mb-3">
            <mat-form-field floatLabel="always">
                <mat-label>Name</mat-label>
                <input formControlName="name" id="name-value" matInput placeholder="GameName">
                <mat-hint>Any name you want - we recomend to use a main folder name</mat-hint>

            </mat-form-field>
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('name', 'required')">This field is required</ng-container>
            </div>
        </div>
        <div class="form-group mb-3">
            <mat-form-field appearance="standard">
                <mat-label>Version</mat-label>
                <input formControlName="version" matInput placeholder="1.0">
                <mat-hint>This is just for your convenience - you won't get lost with many games</mat-hint>
            </mat-form-field>
            <!-- <label class="form-label">Version </label>
            <input formControlName="version">
            -->
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('version', 'required')">This field is required</ng-container>
            </div>
        </div>
        <div class="form-group mb-3">
            <mat-form-field appearance="standard">
                <mat-label>Description</mat-label>
                <input formControlName="description" matInput placeholder="Motivating description">
                <mat-hint>Game description that your students will read - let it motivate them!</mat-hint>

            </mat-form-field>
            <!-- <label class="form-label">Description </label>
            <input formControlName="description">
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('description', 'required')">This field is required</ng-container>
            </div> -->

        </div>

        <br>
        <br>

        <p>Now - the tough part - fill below the game paths</p>
        <!-- TODO: add a hover from right with tree view!  -->
        <hr>
        <!-- tough part of the form! -->
        <div class="form-group mb-3">
            <mat-form-field floatLabel="always">
                <mat-label>Controller relative path </mat-label>
                <input formControlName="CONTROLLER_RELATIVE_PATH" matInput placeholder="GameFolder/bots">
                <mat-hint>Folder where our software will add bots</mat-hint>

            </mat-form-field>
            <!-- <label class="form-label">Controller relative path </label>
            <input formControlName="CONTROLLER_RELATIVE_PATH"> -->
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('description', 'required')">This field is required</ng-container>
            </div>

        </div>
        <div class="form-group mb-3">
            <mat-form-field floatLabel="always">
                <mat-label>Config relative path</mat-label>
                <input formControlName="CONFIG_RELATIVE_PATH" matInput placeholder="GameFolder/config.py">
                <mat-hint>Path to special config.py</mat-hint>
            </mat-form-field>
            <!-- <label class="form-label">Config relative path </label>
            <input formControlName="CONFIG_RELATIVE_PATH"> -->
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('description', 'required')">This field is required</ng-container>
            </div>

        </div>
        <div class="form-group mb-3">
            <mat-form-field floatLabel="always">
                <mat-label>Game relative path</mat-label>
                <input formControlName="GAME_RELATIVE_PATH" matInput placeholder="GameFolder/">
                <mat-hint>Just main folder of game</mat-hint>
            </mat-form-field>
            <!-- <label class="form-label">Game relative path </label>
            <input formControlName="GAME_RELATIVE_PATH"> -->
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('description', 'required')">This field is required</ng-container>
            </div>

        </div>
        <div class="form-group mb-3">
            <mat-form-field floatLabel="always">
                <mat-label>Results relative path</mat-label>
                <input formControlName="RESULTS_RELATIVE_PATH" matInput placeholder="GameFolder/results">
                <mat-hint>Folder where your game saves game logs</mat-hint>
            </mat-form-field>
            <!-- <label class="form-label">Results relative path </label>
            <input formControlName="RESULTS_RELATIVE_PATH"> -->
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('description', 'required')">This field is required</ng-container>
            </div>

        </div>

        <div class="progress form-group" *ngIf="progress > 0">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
            </div>
        </div>
        <br>
        <br>

        <p>Now upload your game as a zip ;) </p>
        <!-- TODO: add a hover from right with tree view!  -->
        <hr>

        <div class="form-group mb-3">
            <label class="form-label">(upload game as .zip archive)</label>
            <input type="file" (change)="uploadFile($event)">
            <div class="invalid-feedback" style="display: block">
                <ng-container *ngIf="hasError('payload', 'required')">This field is required</ng-container>
                <ng-container *ngIf="hasError('payload', 'requiredFileType')">Only zip 🤡</ng-container>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>