<!-- <p>Here will be displayed details of the game</p>
<p *ngIf="id">Game id: {{id | async}}</p> -->
<div class="container">
    <div class="jumbotron mt-5">
        <!-- <h1 class="display-4" style="font-size: x-large;">Welcome in the game: {{ (game | async).name }}</h1> -->
        <h1 class="display-4" style="font-size: x-large;">Game dashboard</h1>
        <p class="lead">The creater descibe this game as: <span style="  font-style: italic;"> {{description }} </span></p>
        <hr class="my-4">
        <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
        <!-- <ng-container *ngIf="isUserAdmin()">
            <button *ngIf="game" class="btn btn-success" [routerLink]="['/start-game', gameId]">New queue</button>
        </ng-container> -->
        <app-queuelist [gameId]="gameId"></app-queuelist>

    </div>
</div>