<!-- <p>Here will be displayed details of the game</p>
<p *ngIf="id">Game id: {{id | async}}</p> -->
<div class="container">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Hello, {{name }}!</h1>
        <p class="lead">{{description}}</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <button *ngIf="game" class="btn btn-success" [routerLink]="['..','start-game', gameId]">New queue</button>
    </div>

      <app-queuelist [gameId]="gameId"></app-queuelist>
</div>

