<div class="course">
    <div class="course-preview">
        <h6>Tournament</h6>
        <h2 *ngIf="game">{{game.name}}</h2>
        <!-- <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a> -->
    </div>
    <div class="course-info">
        <div class="progress-wrapper">
            <div class="progress-container">
                <div class="progress"></div>
                <!-- TODO set progress witdh to appropite width -->
                <span *ngIf="game" class="progress-text">
                {{game.currentBattleNumer}}/{{game.totalBattleNumler}} Battle
            </span>
            </div>
        </div>
        <!-- <h6>Details</h6> -->
        <!-- <h2>Callbacks & Closures</h2> -->
        <div *ngIf="game" class="game-description">{{game.shortDescription}}</div>
        <button *ngIf="game" class="btn" [routerLink]="['..','game', game.id]">Details</button>
        <button *ngIf="game" class="btn" [routerLink]="['..','start-game', game.id]">Start Game</button>

    </div>
</div>