<div class="course">
    <div class="course-preview">
        <h6>Tournament</h6>
        <h2>{{game.name}}</h2>
        <!-- <a href="#">View all chapters <i class="fas fa-chevron-right"></i></a> -->
    </div>
    <div class="course-info">
        <div class="progress-container">
            <div class="progress"></div>
            <span class="progress-text">
                {{currentBattleNumer}}/{{totalBattleNumler}} Battle
            </span>
        </div>
        <!-- <h6>Details</h6> -->
        <!-- <h2>Callbacks & Closures</h2> -->
        <h6>{{game.shortDescription}}</h6>
        <button class="btn">Szczegóły</button>
    </div>
</div>