<div class="container">
    <div class="jumbotron mt-5">
        <!-- <p *ngIf="queueID">Game id: {{ queueID }}</p> -->
        <p><span class="label">Queue status:</span> {{ status | async }}
            <p class="mt-4"> <span class="label"> Deadline: </span> {{deadlineString | async}}</p>
            <button *ngIf='isAdmin() && (canStart | async)' class="ml-auto btn btn-success " (click)="startQueue() ">
              Start gry
            </button>
            <app-queue-status *ngIf="showStatus | async" [queue]="getQueueStatus()" (refreshEvent)="refresh()">
            </app-queue-status>
            <ng-container *ngIf="isFinished | async">
                <a [href]="this.botLogLink()">Kliknij tutaj aby pobrać logi</a>
            </ng-container>

            <p *ngIf="!(isFinished | async)">Run game to check who is the best!
                <p>
                    <h2 *ngIf="isFinished | async" style="font-size: large; font-weight: bolder">Logs</h2>
                    <table *ngIf="isFinished | async" class="table">
                        <thead>
                            <tr>
                                <!-- <th scope="col">#</th> -->
                                <th scope="col">Place</th>
                                <th scope="col">BotId</th>
                                <th scope="col">Points</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let res of (results | async)">
                                <!-- <th scope="row">1</th> -->
                                <th scope="row">{{res.place}}</th>
                                <td>{{res.botId}}</td>
                                <td>{{res.points}}</td>
                            </tr>
                        </tbody>
                    </table>




                    <ng-container *ngIf='(canEnroll | async)'>
                        <h1>Add an own bot</h1>
                        <button class="ml-auto btn btn-secondary" [routerLink]="['/add-bot', queueID]">
                        Dodaj swojego bota
                        </button>
                    </ng-container>

                    <h1 class='md-2'>Your competitors:</h1>
                    <app-bots [queueId]="queueID"></app-bots>
    </div>
</div>