<div class="container">
    <div class="jumbotron mt-5">
        <p>Here will be displayed details of the queue</p>
        <p *ngIf="queueID">Game id: {{ queueID }}</p>
        <h1>Queue status</h1>
        <app-queue-status></app-queue-status>
        <h1>Results will be here</h1>
        <h2 style="font-size: large; font-weight: bolder">Logs</h2>
        <p>AFTER THE END OF MATCH YOU WILL SEE LOGS HERE</p>
        <h1>Add an own bot</h1>
        <button *ngIf='!isAdmin()' class="ml-auto btn btn-secondary" [routerLink]="['/add-bot', queueID]">
      Dodaj swojego bota
    </button>
        <button *ngIf='isAdmin() && canStart()' class="ml-auto btn btn-success " (click)="startQueue() ">
      Start gry
    </button>
        <h1>Your competitors:</h1>
        <p>a bot list</p>
    </div>
</div>