<div class="container">
    <div class="jumbotron mt-5">
        <p *ngIf="queueID">Game id: {{ queueID }}</p>
        <h1>Queue status: {{ status | async }}</h1>

        <button *ngIf='isAdmin() && (canStart | async)' class="ml-auto btn btn-success " (click)="startQueue() ">
          Start gry
        </button>

        <h3 class="mt-4">Deadline: <h5>{{deadlineString | async}}</h5></h3>

        <app-queue-status *ngIf="showStatus | async" [queue]="getQueueStatus()" (refreshEvent)="refresh()"></app-queue-status>

        <h1 *ngIf="!(isFinished | async)">Results will be here</h1>

        <h2 style="font-size: large; font-weight: bolder">Logs</h2>

        <p >AFTER THE END OF MATCH YOU WILL SEE LOGS HERE</p>
        <table *ngIf = "isFinished | async" class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Place</th>
              <th scope="col">BotId</th>
              <th scope="col">Points</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let res of (results | async)">
              <!-- <th scope="row">1</th> -->
              <th scope="row">{{res.place}}</th>
              <td>{{res.botId}}</td>
              <td>{{res.points}}</td>
            </tr>
          </tbody>
        </table>

        <ng-container *ngIf='!isAdmin() && (canEnroll | async)'>
          <h1>Add an own bot</h1>
          <button class="ml-auto btn btn-secondary" [routerLink]="['/add-bot', queueID]">
            Dodaj swojego bota
          </button>
        </ng-container>
        
        <h1>Your competitors:</h1>
        <p>a bot list</p>
    </div>
</div>